.bar{
    margin: 0 auto;
    height: 20px;
    display: flex;
    flex-direction: row;
  text-align: center;
  justify-content: center;
    gap: 10px;
  
  }
  h1{
    text-align: center;
  }
  img{height: 10%;}
  