.carta {
    background: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }
  .imagen{

    width: 100px;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
 